# Игнорировать конфигурации IDE
.idea/
*.iml

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать бинарные файлы
*.exe
*.out

# Исключить автоматически генерируемые файлы Go
*.test
*.mod
*.sum

# Исключить временные файлы операционной системы
.DS_Store
Thumbs.db
